* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0e8;
    color: #a84646;
    line-height: 1.6;
    text-align: center;
    padding-top: 50px;
}

header {
    background-color: #2374ca;
    color: white;
    padding: 20px 10;
    text-align: center;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: rgb(62, 248, 109);
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
    color: #ffbf00;
}

main {
    max-width: 960px;
    margin: 30px auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.card {
    background-color: #0efadb;
    padding: 20px;
    border-radius: 8px;
    width: 48%;
    text-align: left;
}

.card h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 5px 0;
}

footer #lastModified {
    font-size: 0.9rem;
}

@media (max-width: 768px) {
    main {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 90%;
    }
}
