body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #52f5df;
}

header {
    background-color: #76ec32;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

footer {
    background-color: #76ec32;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    width: 100%;
    bottom: 0;
}

h1 {
    color: #333;
    font-size: 2em;
}

main {
    padding: 20px;
}

@media screen and (max-width: 768px) {
    nav ul {
        text-align: center;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }
}
